<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <% if (locals.name) {%>
    <%= name %> <br>
    <%= origin %><br>
    <%= category %><br>
    <%= instructions %><br>
    <%= image %><br>
    <%= tutorial %><br>
    <%= recipe%><br>
    <% } %>
</body>
</html>