<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Meal Finder</h1>
    </div>
    <div>
    <% if (locals.name) {%>
    <%= name %> <br>
    <%= origin %><br>
    <%= category %><br>
    <%= instructions %><br>
    <%= image %><br>
    <%= tutorial %><br>
    <%= recipe%><br>
    <% } else {%>
        <h2>Please choose a category.</h2>
    <% } %>
    <div>
        <form method="get">
            <button formaction="/random">Random</button>
            <button formaction="/vegetarian">Vegetarian</button>
            <button formaction="/seafood">Seafood</button>
            <button formaction="/chicken">Chicken</button>
            <button formaction="/pork">Pork</button>
            <button formaction="/beef">Beef</button>
            <button formaction="/dessert">Dessert</button>
        </form>
    </div>
    </div>
</body>
</html>